@import "fonts"
@import "libs"
@import "vars"
@import "_mixins/mixins"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.container
	position: relative
	
.header
	background: url(../img/pexels-photo.jpg) 50% 0 no-repeat fixed
	width: 100%
	height: 700px
	background-size: cover
	position: relative
	margin: 0 auto;

.bg_block
	background: #001724
	width: 100%
	height: 700px
	opacity: .5
	z-index: -1

#menu
	display: inline-block
	position: fixed
	top: 20px
	left: -20px
	z-index: 1000
	li
		list-style-type: none
		font-size: 18px
		display: inline-block
		border: 1px solid #e02e00
		padding: 5px 13px
		margin-bottom: 20px
		margin-right: 10px
		box-shadow: 3px 5px 5px #3e3e3e
		&:hover
			transform: rotate(360deg)
			transition: 2s
		a
			color: #e02e00
			text-decoration: none
			text-shadow: 3px 5px 5px #000
			display: block
.tip1
	display: inline-block
	border: 1px solid #e02e00
	padding: 5px 10px
	margin-bottom: 20px
	top: -50px
	left: 130px
	color: #e02e00
	text-shadow: 3px 5px 5px #3e3e3e
	position: fixed
.tip2
	display: inline-block
	border: 1px solid #e02e00
	padding: 5px 10px
	margin-bottom: 20px
	top: -50px
	left: 130px
	color: #e02e00
	text-shadow: 3px 5px 5px #3e3e3e
	position: fixed

.phone
	width: 200px
	color: #FFFFFF
	position: absolute
	right: 0
	top: 40px
	z-index: 10
	line-height: 1.45
	font-size: 18px
	span
		text-shadow: 3px 5px 5px #3e3e3e

+keyframes(movetext)
	0%
		transform: rotateY(0deg)
	100%
		transform: rotateY(360deg)

.logo_name
	position: absolute
	z-index: 1
	right: 0
	.logo
		color: #fff
		text-decoration: none
		text-align: left
		display: inline-block
		position: absolute
		right: 0
		margin-top: 320px
		&:hover
			color: #fff
			text-decoration: none
		h1
			text-align: left
			font-family: $ralewayBold
			font-size: 54px
			letter-spacing: 3px
			text-shadow: 3px 5px 5px #000
			text-transform: uppercase
			line-height: 1
			.big-orange
				color: #e02e00
		.devel
			margin-top: -40px
			p
				text-align: right
				font-family: $ralewayLight
				font-size: 20px
				letter-spacing: 3px
				text-transform: uppercase
				text-shadow: 3px 5px 5px #000
				animation-name: movetext
				animation-duration: 3s
				animation-timing-function: ease-out
				transition: 3s
				position: absolute
				top: 122px
				right: 0

.section
	width: 100%
	height: 693px

.about
	background: url(../img/smartphone-925758_1920.jpg) no-repeat center center
	background-size: cover
	position: relative
	p
		font-family: $raleway
		font-size: 18px
		display: inline-block
		width: 475px
		position: absolute
		top: 65px
		right: 175px
		margin-top: 280px
		padding: 50px 50px
		box-shadow: 8px 7px 25px #000
		z-index: 3
		background: #FFFFFF
		
.skills
	position: relative
	.square
		width: 48%
		height: 693px
		background: url(../img/shutterstock_120539965.jpg) 50% 0 no-repeat fixed
		background-size: cover
		position: absolute
		left: 0

.tech_block
	border: 3px solid #FFFFFF
	box-shadow: 6px 8px 10px #000
	width: 400px
	color: #FFFFFF
	font-family: $ralewayLight
	margin: 0 auto
	margin-top: 30%
	position: absolute
	top: 30px
	left: 20px
	h3
		text-transform: uppercase
		font-size: 36px
		text-align: center
		padding-top: 30px
		text-shadow: 3px 3px 3px #000
	p
		padding: 5px 25px
		font-size: 18px
		text-shadow: 5px 5px 3px #000

+keyframes(html)
	0%
		width: 0
	100%
		width: 265px

+keyframes(css)
	0%
		width: 0
	100%
		width: 245px

+keyframes(js)
	0%
		width: 0
	100%
		width: 160px

+keyframes(jq)
	0%
		width: 0
	100%
		width: 200px

.skill_line
	margin-top: 250px
	font-family: $ralewayBold
	li
		list-style-type: none
		margin-bottom: 50px
		position: relative
		span
			color: #001724
			font-size: 24px
			display: inline-block
		.percent
			position: absolute
			right: 0
			font-size: 18px
		.html, .css, .js, .jq
			border: 2px solid #001724
			width: 300px
			height: 20px
			display: inline-block
			position: absolute
			right: 70px
			top: 10px
			.html_line
				width: 265px
				height: 16px
				background: #e02e00
				animation-name: html
				animation-duration: 3s
				animation-timing-function: ease-out
				animation-fill-mode: forwards
			.css_line
				width: 245px
				height: 16px
				background: #e02e00
				animation-name: css
				animation-duration: 3s
				animation-timing-function: ease-out
				animation-fill-mode: forwards
			.js_line
				width: 170px
				height: 16px
				background: #e02e00
				animation-name: js
				animation-duration: 3s
				animation-timing-function: ease-out
				animation-fill-mode: forwards
			.jq_line
				width: 200px
				height: 16px
				background: #e02e00
				animation-name: jq
				animation-duration: 3s
				animation-timing-function: ease-out
				animation-fill-mode: forwards


.portfolio
	background: #001724
	position: relative
	.slick
		margin-top: 60px
		.prev
			width: 50px
			height: 50px
			background: #001724
			border-radius: 50%
			position: absolute
			left: 10px
			top: 40%
		.next
			width: 50px
			height: 50px
			background: #001724
			border-radius: 50%
			position: absolute
			right: 10px
			top: 40%
			z-index: 1
		.item
			width: 400px
			height: 350px
			background: #ffffff
			border: 1px solid #001724
.section_head
	text-align: center
	font-family: $ralewayLight
	font-size: 36px
	position: relative

.contacts_phone
	width: 175px
	font-family: $default-font
	font-size: 18px
	margin-left: 214px
	margin-top: 0
	margin-bottom: 30px
	color: #001724
	a
		font-size: 30px
		color: #001724
		padding-right: 13px

.white
	color: #fff

.dark
	color: #666




.contacts
	h2
		text-transform: uppercase
		color: #001724
	.glitch-img
		background: url(../img/iconpack1/my_foto_left.png) no-repeat left
		width: 366px
		height: 693px
		position: absolute
	.order_form
		margin-left: 75px
		input
			width: 300px
			height: 40px
			padding-left: 10px
			margin-bottom: 20px
			border:  1px solid #001724
		input[type="submit"]
			background: #001724
			border: none
			font-family: $ralewayLight
			font-size: 20px
			color: #FFFFFF
			text-transform: uppercase
			letter-spacing: 3px
			margin-top: -5px
		textarea
			width: 300px
			height: 100px
			margin-bottom: 20px
			line-height: 1
			border:  1px solid #001724
			padding-left: 10px


.footer
	background: #001724
	width: 100%
	height: 120px


@import "media" // Всегда в конце
